* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.document-table {
	border-collapse: collapse;
	text-align: left;
}

.document-table-fixed {
	table-layout: fixed;
}

.document-table, .document-table th, .document-table td {
    border: 1px solid #868687;
}

.document-table th, .document-table td {
    padding: 2px 5px;
}

.document-table th, .document-table-header {
	background-color: #e7e6e6;
	font-weight: 600;
}

.gray-bkg {
	background-color: #e7e6e6;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.page-break {
    page-break-before: always;
}

.page-break:first-child {
    page-break-before: avoid;
}

.avoid-break-inside {
    break-inside: avoid;
}

.m-bottom-small {
    margin-bottom: 10px;
}

.m-top-small {
    margin-top: 10px;
}
