* {
    font-size: 10px!important;
}

@page{
    size: A4 landscape;

    @bottom-right {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        content: "Page " counter(page) " of " counter(pages);
    }
}

.document-table {
    width: 100%;
}